
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /*padding: 50px;*/
    font-size: 16px;
    font-weight: bold;
    background-color: ghostwhite;
}
.sidebar {
    position: fixed;
    top: 52px;
    width: 120px;
    overflow-y: hidden;
    /*background: #36454F;*/
    background: #1573ff;
    height: 100%;
}

    .sidebar ul {
        display: block;
        padding: 2px;
        position: relative;
        text-align: center;
        color: white;
        -webkit-text-fill-color: white;
        width: 100%;
        height: 100%;
    }



        .sidebar ul li {
            display: block;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            -webkit-text-fill-color: white;
            position: relative;
            color: white;
            width: 100%;
        }


            .sidebar ul li a {
                width: 100%;
                line-height: 25px;
                position: relative;
                color: white;
                -webkit-text-fill-color: white;
                text-align: center;
                /* padding-left: 20px;*/
                display: block;
            }


                .sidebar ul li a i {
                    width: 100%;
                    /* padding-left:-20px;*/
                    text-align: center;
                    display: block;
                }


            .sidebar ul li:hover a {
                color: white;
            }


/*#wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}*/

.main {
    margin-left: 11%;
    margin-right: 2%;
    max-width: 100%;
    /*margin-top:-6%;*/
}
