html {
  font-size: 14px;
}

/*@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.ProjectTheme {
    background: purple;
    color: white;
}
.Textcolor {
    color: white;
}


.btncolor {
    background: purple;
    color: white;
}
*/

/*
@media screen and (max-width:350px){
    .color_code{
        position:relative;
        right:-1rem;
    }
    .color-button{
        height:auto;
        width:0.01rem;
        border-radius:50%;
    }
}*/
.footer-css {
    position: absolute;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}



