
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



<div class="container-fluid">
    <div class="row">

        <div class="col-md-6">

            <div class="w3-panel w3-card">

                <div class="row">
                    <div class="col-md-12" style="padding:20px">
                       <div class="w3-container">

                            <div class="w3-#f4f4f4 w3-hover-shadow w3-padding-10 w3-start" style="width:100%;padding-top:20px;padding-left:20px">
                                <h4 style="color:#4CBB17;font-weight:600">
                                    Instruction:
                                </h4>
                                <hr />
                                <ul>
                                    <li>
                                        <p style="color:black;font-weight:600">This is a FREE online test. Beware of scammers who ask for money to attend this test.</p>
                                    </li>
                                    <li>
                                        <p style="color:black;font-weight:600">Total number of questions: 20.</p>
                                    </li>

                                    <li>
                                        <p style="color:black;font-weight:600">
                                            Time allotted: 30 minutes.
                                        </p>
                                    </li>

                                    <li>
                                        <p style="color:black;font-weight:600">
                                            Each question carries 1 mark there are no negative marks.
                                        </p>
                                    </li>

                                    <li>
                                        <p style="color:black;font-weight:600">
                                            DO NOT refresh the page.
                                        </p>
                                    </li>

                                    <li>
                                        <p style="color:#4CBB17;font-weight:600">
                                            All the best!
                                        </p>
                                    </li>
                                </ul>
                                <br />

                                <style>

                                button {
                                        --color: #4CBB17;
                                font-family: inherit;
                                display: inline-block;
                                width: 8em;
                                height: 2.6em;
                                line-height: 2.5em;
                                margin: 20px;
                                position: relative;
                                overflow: hidden;
                                border: 2px solid var(--color);
                                transition: color .5s;
                                z-index: 1;
                                font-size: 17px;
                                border-radius: 6px;
                                font-weight: 500;
                                color: var(--color);
                                }

                                button:before {
                                content: "";
                                position: absolute;
                                z-index: -1;
                                background: var(--color);
                                height: 150px;
                                width: 200px;
                                border-radius: 50%;
                                }

                                button:hover {
                                color: #fff;
                                }

                                button:before {
                                top: 100%;
                                left: 100%;
                                transition: all .7s;
                                }

                                button:hover:before {
                                top: -30px;
                                left: -30px;
                                }

                                button:active:before {
                                background: #3a0ca3;
                                transition: background 0s;
                                }

                                </style>

                                <body>

                                    <button>
                                        Start Test
                                    </button>
                                </body>
                </div>
            </div>                   
            </div>

                </div>
            </div>


                </div>
            </div>
            </div>
        
 

