@model quezemasterNew.Models.Class9.Class9ViewModel
@{
    ViewData["Title"] = "Create";
}



    <div class="row justify-content-center" id="BPSCDetailsForm">
        <div class="col-md-12  p-0">

            <div class="card card-body mt-4 shadow-sm CardCss">
          

                    <!-- Row 1 -->
                <div class="row mt-2 mb-3">

                        <!-- Quez Name -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                            <label asp-for="QuezName" class="form-label fw-bold">Quiz Name</label>
                                </div>
                                <input asp-for="Id" class="form-control" id="BPSCQuezId" type="hidden" readonly/>
                                <div class="col-md-9">
                                    <input asp-for="QuezName" class="form-control" id="BPSCQuezName"/>
                                    <span asp-validation-for="QuezName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <!-- Class Name -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <label asp-for="ClassName" class="form-label fw-bold">Class Name</label>
                                </div>
                                <div class="col-md-9">
                                    <input asp-for="ClassName" class="form-control" id="BPSCClassName"/>
                                    <span asp-validation-for="ClassName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Row 2 -->
                    <div class="row mb-3">

                        <!-- Subject Name -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <label asp-for="SubjectName" class="form-label fw-bold">Subject Name</label>
                                </div>
                                <div class="col-md-9">
                                @*     <input asp-for="SubjectName" class="form-control" id="BPSCSubjectName"/> *@
                                       <select class="form-select" asp-for="SubjectName" id="BPSCSubjectName">
                                        <option value="6To8">6 To 8</option>
                                        <option value="9To10">9 To 10</option>
                                        <option value="11To12">11 To 12</option>
                                    </select>
                                    <span asp-validation-for="SubjectName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <!-- Remark -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <label asp-for="Remark" class="form-label fw-bold">Remark</label>
                                </div>
                                <div class="col-md-9">
                                    <input asp-for="Remark" class="form-control" id="BPSCRemark"/>
                                    <span asp-validation-for="Remark" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Button Row -->
            <div class="text-center average-font-size">
                        <button type="submit" class="btn btn-primary  px-4" id="SaveBPSCDetails">Create</button>
                <button type="reset" class="btn btn-secondary px-4 ms-4 clearBtnCss" id="BPSCResetBtn">Reset</button>
                    </div>

                
            </div>


        </div>
    </div>


<script>
    var $jq = jQuery.noConflict();

    $jq(document).ready(function () {


        // ===== AJAX FORM SUBMIT =====

        $jq('#BPSCDetailsForm').on('click', '#SaveBPSCDetails', function (e) {
            e.preventDefault(); // Stop normal form submit

            var formData = {
                Id: $jq("#BPSCQuezId").val(),
                QuezName: $jq("#BPSCQuezName").val(),
                ClassName: $jq("#BPSCClassName").val(),
                SubjectName: $jq("#BPSCSubjectName").val(),
                Remark: $jq("#BPSCRemark").val()
            };

            $jq.ajax({
                url: '@Url.Action("InsertClassBPSC", "BPSCEnglish")',   // <-- Change controller name
                type: "POST",
                data: formData,
                success: function (response) {

                // Retrieve the ViewData value and ensure it's a string
                $jq("#BPSCDetailsList").html('');
                $jq("#BPSCDetailsList").html(response);
                // Reset Only this form
                ResetFormData();
                },
                error: function () {

                   showMessageToUser("We apologize, but an error occurred while saving the data.", "error");
                }
            });
        });


        // ===== RESET BUTTON CLICK =====
        $jq("#BPSCResetBtn").on("click", function () {
           ResetFormData();
        });






         function ResetFormData() {
              $jq("#BPSCQuezId").val('');
              $jq("#BPSCQuezName").val('');
              $jq("#BPSCClassName").val('');
              $jq("#BPSCRemark").val('');
         }



    });
</script>


