
<div class="l-navbar smNave" id="nav-bar">
    <nav class="nav">

        <a asp-action="Index" asp-controller="Home" class="nav_logo" style="text-decoration:none;">
            <img src="~/newfolder/quizmasterlogo.svg" width="200" height="60" alt="Logo" />

        </a>
        <div class="nav_list navscroll">
     
            <ul class="list-unstyled ps-0">


                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 text-white"
                            data-bs-toggle="collapse" data-bs-target="#deepFile" aria-expanded="false" title="Import/Manage">

                        <svg width="50" height="35" viewBox="0 0 25 21" fill="none" xmlns="http://www.w3.org/2000/svg" class="me-1">
                            <path d="M5.89844 18.7882C5.89907 19.241 6.10998 19.6752 6.48492 19.9954C6.85985 20.3156 7.36819 20.4957 7.89843 20.4962H17.8984C18.4286 20.4957 18.937 20.3156 19.3119 19.9954C19.6868 19.6752 19.8977 19.241 19.8984 18.7882V18.041H5.89844V18.7882Z"
                                  fill="white" />
                            <path d="M19.8984 1.70802C19.8977 1.25519 19.6868 0.82106 19.3119 0.50086C18.937 0.180661 18.4286 0.00053678 17.8984 0L7.89843 0C7.36819 0.00053678 6.85985 0.180661 6.48492 0.50086C6.10998 0.82106 5.89907 1.25519 5.89844 1.70802V2.56203H19.8984V1.70802Z"
                                  fill="white" />
                            <path d="M24.6188 5.49343L21.6189 2.82465L20.1761 4.00745L21.4312 5.12407H16.4814V6.83209H21.5391L20.2056 7.92351L21.5894 9.15671L24.5893 6.70143C24.6842 6.62379 24.7602 6.53094 24.813 6.4282C24.8659 6.32546 24.8945 6.21483 24.8972 6.10265C24.9 5.99046 24.8768 5.87891 24.829 5.77438C24.7812 5.66985 24.7098 5.57438 24.6188 5.49343Z"
                                  fill="#257EE8" />
                            <path d="M16.8984 5.12404H19.8984V3.41602H5.89844V13.6641H8.89842V15.3722H5.89844V17.0802H19.8984V6.83206H16.8984V5.12404ZM15.8984 8.54008H12.3984C12.2658 8.54008 12.1386 8.58506 12.0449 8.66514C11.9511 8.74522 11.8984 8.85383 11.8984 8.96708C11.8984 9.08033 11.9511 9.18894 12.0449 9.26902C12.1386 9.3491 12.2658 9.39409 12.3984 9.39409H13.3984C14.0184 9.39356 14.6165 9.58978 15.0766 9.94466C15.5367 10.2995 15.8259 10.7878 15.8882 11.3145C15.9506 11.8413 15.7814 12.3691 15.4137 12.7954C15.046 13.2217 14.506 13.5161 13.8984 13.6214V14.5181H11.8984V13.6641H9.89842V11.9561H13.3984C13.531 11.9561 13.6582 11.9111 13.752 11.8311C13.8457 11.751 13.8984 11.6424 13.8984 11.5291C13.8984 11.4159 13.8457 11.3073 13.752 11.2272C13.6582 11.1471 13.531 11.1021 13.3984 11.1021H12.3984C11.7784 11.1026 11.1803 10.9064 10.7202 10.5515C10.2601 10.1967 9.97087 9.70844 9.90856 9.18165C9.84626 8.65487 10.0154 8.1271 10.3831 7.70081C10.7508 7.27452 11.2908 6.98012 11.8984 6.87476V5.97805H13.8984V6.83206H15.8984V8.54008Z"
                                  fill="white" />
                            <path d="M4.25579 13.6642L5.58928 12.5727L4.20554 11.3395L1.20555 13.7948C1.11069 13.8725 1.03467 13.9653 0.981846 14.068C0.929019 14.1708 0.900418 14.2814 0.897678 14.3936C0.894939 14.5058 0.918114 14.6173 0.965879 14.7219C1.01364 14.8264 1.08506 14.9219 1.17605 15.0028L4.17604 17.6716L5.61878 16.4888L4.36366 15.3722H9.31345V13.6642H4.25579Z"
                                  fill="#257EE8" />
                        </svg>

                        <span class="nav_name text-white">Enquiry Details</span>

                    </button>

                    <div class="collapse" id="deepFile" style="">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li>
                                <a class="link-body-emphasis d-inline-flex text-decoration-none rounded" asp-Action="EnquiryDetailsList" asp-controller="Home">
                                    Enquiry Details

                                </a>
                            </li>


                        </ul>

                    </div>
                </li>

                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 text-white collapsed"
                            data-bs-toggle="collapse" data-bs-target="#QuestionDetails" aria-expanded="false" title="Master Data">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="35" fill="currentColor"
                             class="bi bi-bar-chart-fill me-1" viewBox="0 0 16 16">
                            <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1z" />
                        </svg>

                        <span class="nav_name text-white">Question Details</span>
                    </button>
                    <div class="collapse" id="QuestionDetails">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
   
                            <li>
                                <a asp-Action="Index" asp-controller="Admin" class="link-body-emphasis d-inline-flex text-decoration-none rounded" title="Question Details">

                                    Question Details
                                </a>
                            </li>
                           

                        </ul>
                    </div>
                </li>

                <li class="mb-1 ">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 text-white collapsed"
                            data-bs-toggle="collapse" data-bs-target="#UserMaster" aria-expanded="false" title="User Management">

                        <svg width="46" height="38" viewBox="0 0 40 38" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="bi bi-bookmarks-fill me-2">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 34.5886C0 21.7154 12.1536 28.8422 13.0783 20.9536C13.1792 20.094 11.1541 17.8248 10.6886 16.2555C9.71185 14.67 9.33744 12.1533 10.4249 10.4799C10.8579 9.81244 10.6755 8.0576 10.6755 7.14274C10.6755 -1.97331 26.6449 -1.97331 26.6449 7.14274C26.6449 8.29527 26.3779 9.74733 27.0063 10.6459C28.0546 12.1631 27.5109 14.8491 26.6286 16.2588C26.0654 17.9029 23.9101 20.0192 24.0924 20.9536C24.224 21.7464 24.5383 22.4977 25.0105 23.1479L24.8543 23.3009C24.5988 23.5556 24.3954 23.8574 24.2552 24.1898L24.2161 24.2907C24.0999 24.5953 24.0403 24.9186 24.0403 25.2446C24.0419 25.6118 24.1171 25.975 24.2617 26.3125L24.3496 26.4981C24.2103 26.5314 24.0732 26.5739 23.9394 26.625C23.2588 26.9106 22.7175 27.4519 22.432 28.1324L22.3669 28.3245C22.2764 28.5987 22.2303 28.8856 22.2301 29.1743V30.9096C22.2295 31.2697 22.3015 31.6263 22.4418 31.9579L22.5199 32.1272C22.6479 32.3818 22.8137 32.6156 23.0115 32.8207L23.0571 32.8663C23.3044 33.1129 23.596 33.3106 23.9166 33.4491L24.1347 33.5272C24.0627 33.6387 24.0006 33.7564 23.9492 33.8788C23.8508 34.1009 23.7829 34.3353 23.7473 34.5755L0 34.5886ZM37.493 24.7237C37.4273 24.6565 37.3488 24.6031 37.2621 24.5668C37.1754 24.5304 37.0824 24.5118 36.9884 24.5121C36.8943 24.5111 36.801 24.5293 36.7142 24.5657C36.6274 24.6021 36.549 24.6559 36.4837 24.7237L35.7154 25.5051C35.5069 25.3716 35.2893 25.2531 35.0642 25.1502C34.8372 25.0472 34.6046 24.957 34.3675 24.88V23.7014C34.3684 23.6078 34.3506 23.515 34.3153 23.4283C34.28 23.3416 34.2278 23.2628 34.1618 23.1965C34.0957 23.1301 34.0172 23.0776 33.9306 23.0418C33.8441 23.0061 33.7514 22.988 33.6578 22.9884H32.1764C32.0836 22.9879 31.9917 23.006 31.9061 23.0418C31.8205 23.0776 31.743 23.1303 31.6783 23.1968C31.61 23.2616 31.5559 23.34 31.5195 23.4269C31.4831 23.5137 31.4651 23.6072 31.4667 23.7014V24.779C31.223 24.836 30.9837 24.91 30.7504 25.0004C30.5264 25.087 30.3088 25.1893 30.0992 25.3065L29.2365 24.4665C29.1742 24.3984 29.0982 24.3443 29.0134 24.3078C28.9287 24.2714 28.8371 24.2533 28.7449 24.2549C28.6508 24.2543 28.5576 24.2727 28.4709 24.3091C28.3842 24.3454 28.3057 24.399 28.2402 24.4665L27.2049 25.5051C27.137 25.5704 27.0829 25.6488 27.046 25.7355C27.009 25.8222 26.99 25.9155 26.99 26.0097C26.99 26.104 27.009 26.1972 27.046 26.284C27.0829 26.3707 27.137 26.449 27.2049 26.5143L27.97 27.2827C27.8368 27.4908 27.7193 27.7084 27.6184 27.9338C27.516 28.1611 27.4258 28.3937 27.3482 28.6306H26.1663C26.0728 28.6293 25.9799 28.6467 25.8932 28.6819C25.8065 28.7171 25.7277 28.7694 25.6615 28.8355C25.5954 28.9017 25.5431 28.9805 25.5079 29.0672C25.4727 29.1539 25.4553 29.2468 25.4566 29.3403V30.8217C25.4583 31.0091 25.5337 31.1883 25.6665 31.3205C25.7994 31.4527 25.9789 31.5273 26.1663 31.5282H27.2472C27.3022 31.772 27.3751 32.0114 27.4654 32.2444C27.5548 32.4757 27.657 32.7017 27.7714 32.9216L26.9314 33.7584C26.8633 33.8206 26.8092 33.8967 26.7728 33.9814C26.7363 34.0662 26.7182 34.1577 26.7198 34.25C26.7188 34.3441 26.7371 34.4374 26.7735 34.5242C26.8099 34.6109 26.8636 34.6894 26.9314 34.7546L27.97 35.7932C28.1057 35.923 28.2869 35.9943 28.4746 35.9918C28.6615 35.9945 28.8417 35.9231 28.976 35.7932L29.7444 35.0118C29.9528 35.1452 30.1704 35.2638 30.3955 35.3667C30.6217 35.4691 30.8532 35.5593 31.089 35.6369V36.8155C31.089 37.0046 31.1641 37.1859 31.2978 37.3197C31.4315 37.4534 31.6129 37.5285 31.802 37.5285H33.2801C33.3729 37.529 33.4648 37.5108 33.5504 37.475C33.636 37.4392 33.7135 37.3866 33.7782 37.3201C33.8465 37.2552 33.9006 37.1769 33.937 37.09C33.9734 37.0032 33.9914 36.9097 33.9898 36.8155V35.7378C34.2335 35.6808 34.4728 35.6069 34.7061 35.5165C34.9371 35.4264 35.1631 35.3243 35.3833 35.2104L36.22 36.0504C36.2827 36.1189 36.3592 36.1732 36.4446 36.2097C36.5299 36.2462 36.6221 36.2641 36.7149 36.262C36.8088 36.265 36.9022 36.2476 36.9888 36.2111C37.0753 36.1746 37.1529 36.1197 37.2163 36.0504L38.2646 35.0118C38.3959 34.8768 38.4685 34.6954 38.4665 34.5072C38.4682 34.4138 38.4512 34.3211 38.4165 34.2345C38.3819 34.1478 38.3302 34.0689 38.2646 34.0025L37.4865 33.2342C37.6197 33.0261 37.7372 32.8085 37.8381 32.583C37.9416 32.3558 38.0329 32.1232 38.1116 31.8863H39.2902C39.3838 31.8876 39.4766 31.8702 39.5633 31.835C39.65 31.7998 39.7288 31.7475 39.795 31.6814C39.8612 31.6152 39.9134 31.5364 39.9486 31.4497C39.9838 31.363 40.0012 31.2701 39.9999 31.1766V29.7082C40.0003 29.6163 39.9823 29.5251 39.9471 29.4402C39.9119 29.3552 39.8601 29.2781 39.7948 29.2134C39.7302 29.1447 39.6519 29.0905 39.5649 29.054C39.478 29.0176 39.3844 28.9998 39.2902 29.0017H38.2093C38.1505 28.7611 38.0776 28.5241 37.9911 28.292C37.9042 28.0618 37.802 27.8378 37.6851 27.6213L38.5218 26.7716C38.5909 26.7092 38.6459 26.6328 38.6829 26.5474C38.72 26.4621 38.7383 26.3697 38.7367 26.2767C38.737 26.1829 38.7181 26.09 38.6812 26.0037C38.6442 25.9175 38.59 25.8398 38.5218 25.7753L37.493 24.7237ZM32.7299 27.3543C33.1188 27.3523 33.5041 27.4287 33.8629 27.579C34.5593 27.8706 35.1126 28.4251 35.4028 29.1222C35.5524 29.4801 35.6294 29.8641 35.6294 30.2519C35.6294 30.6398 35.5524 31.0238 35.4028 31.3817C35.1126 32.0787 34.5593 32.6332 33.8629 32.9249C33.5018 33.0753 33.1145 33.1528 32.7234 33.1528C32.3322 33.1528 31.9449 33.0753 31.5839 32.9249C30.8874 32.6332 30.3341 32.0787 30.0439 31.3817C29.8944 31.0238 29.8174 30.6398 29.8174 30.2519C29.8174 29.8641 29.8944 29.4801 30.0439 29.1222C30.3341 28.4251 30.8874 27.8706 31.5839 27.579C31.9416 27.4291 32.3258 27.3527 32.7136 27.3543H32.7299Z" fill="white" />
                        </svg>

                        <span class="nav_name text-white text-break">Manage User</span>
                    </button>

                    <div class="collapse" id="UserMaster">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                            <li>
                                <a asp-Action="UserDetails" asp-controller="Home" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Users</a>
                            </li>


                        </ul>
                    </div>

                </li>



                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 text-white"
                            data-bs-toggle="collapse" data-bs-target="#LogDetail" aria-expanded="false" title="Import/Manage">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="35" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.398 1.398l3.646 3.646a1 1 0 0 0 1.415-1.415l-3.646-3.646zm-5.2.656a5.5 5.5 0 1 1 .001-11.001 5.5 5.5 0 0 1-.001 11.001z" />
                            <path d="M5 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zM5 6a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zM5 8.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zM5 11a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                        </svg>

                        <span class="nav_name text-white">All Test</span>
                    </button>

                    <div class="collapse" id="LogDetail" style="">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li>
                                <a asp-Action="SheAllTest" asp-controller="Admin" class="link-body-emphasis d-inline-flex text-decoration-none rounded">All Test</a>
                            </li>
                           
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
</div>